<%= turbo_stream_from ["message_channel", @message] %>

<h1>Editing message</h1>
<%= turbo_frame_tag "message_#{@message.id}" do %>
  <%= render "messages/form", message: @message %>
  <br>
  <%= form_tag ai_generate_message_path(@message), method: :post, class: 'relative', data: { turbo: "true", turbo_frame: "message_#{@message.id}" } do %>
    <div>
      <input name="ai_message" type="text" />
    </div>
    <div>
      <button type="submit">Send</button>
    </div>
  <% end %>
<% end %>
  <%= render 'messages/ai_message', json: {}, message:@message %>

<div>
  <%= link_to "Show this message", @message %> |
  <%= link_to "Back to messages", messages_path %>
</div>
